body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top, #2b0000, #000);
    color: white;
    text-align: center;
}

.container {
    padding: 25px;
}

.title {
    color: red;
    font-size: 48px;
    text-shadow: 0 0 20px red;
    margin-bottom: 10px;
}

.logo {
    width: 220px;
    margin: 15px auto;
    display: block;
}

.welcome {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 15px;
    margin: 20px auto;
    max-width: 320px;
    font-size: 18px;
}

.welcome span {
    color: red;
    font-weight: bold;
}

.card {
    background: linear-gradient(145deg, #111, #1c1c1c);
    border-radius: 18px;
    padding: 20px;
    margin: 20px auto;
    max-width: 320px;
    box-shadow: 0 0 25px rgba(255,0,0,0.15);
}

.card h2 {
    margin: 10px 0;
}

.card p {
    color: #ccc;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.ios .icon {
    color: gold;
}

.android .icon {
    color: #00ff6a;
}
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: white;
    background: rgba(255,255,255,0.1);
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 85%;
    height: 100%;
    background: #0b0b0b;
    padding: 80px 20px;
    transition: 0.3s;
    z-index: 999;
}

.side-menu.open {
    right: 0;
}

.side-menu a {
    display: block;
    background: linear-gradient(145deg, #111, #1c1c1c);
    margin-bottom: 15px;
    padding: 18px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 0 15px rgba(255,255,255,0.05);
}
